h1 {
  font-weight: 900;
  font-size: 5rem;
  text-transform: uppercase;
  text-shadow: 2px 2px 0 #000;
  word-spacing: 1.5rem;
}

.hero .tagline {
  background: rgba(0, 0, 0, 0.6);
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1.5px;
  padding: 1.5rem;
}

.hero {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../Images/hubble_200.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  color: aliceblue;
}

@media screen and (min-width: 768px) {
  .hero {
    background: url(../Images/hubble__887.jpg);
    background-size: cover;
  }
  .hero .tagline {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    background: url(../Images/hubble_1337.jpg);
    background-size: cover;
  }
  .hero .tagline {
    font-size: 6rem;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    background: url(../Images/hubble_1400.jpg);
    background-size: cover;
  }
  .hero .tagline {
    font-size: 9rem;
  }
}
